<h1>テスト・データベースからひっぱってこれているか。</h1>


<% @products.each do |product| %>
  <p><strong>商品名</strong>
    <%= product.name %>
  </p>
  <p><strong>価格</strong>
    <%= product.price %>
  </p>

  <p><strong>説明文</strong>
    <%= product.description %>
  </p>

  <p><strong>メーカー</strong>
    <%= product.brand %>
  </p>

  <p><strong>出品者</strong>
    <%= product.user.nickname %>
  </p>

  <p><strong>商品の状態</strong>
    <%= product.condition.name %>
  </p>

  <p><strong>発送方法</strong>
    <%= product.shipping.method %>
  </p>

  <p><strong>カテゴリ</strong>
    <%= product.category.name %>
  </p>

  <p><strong>サイズ</strong>
    <%= product.size.name %>
  </p>

  <p><strong>送料</strong>
    <%= product.fee.who %>
  </p>

  <p><strong>発送日の目安</strong>
    <%= product.term.name %>
  </p>

<% end %>